* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Arial", sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
  }
  
  section {
    padding: 100px 20px 40px;
    background: #fff;
    margin-top: 60px;
  }
  
  @media (max-width: 750px) {
  }
  @media (max-width: 450px) {

  }
  