* { /* Sélecteur universel */
  margin: 0; /* Réinitialise la marge de tous les éléments */
  padding: 0; /* Réinitialise le remplissage de tous les éléments */
  box-sizing: border-box; /* Définit le modèle de boîte pour tous les éléments */
}

body { /* Sélecteur de l'élément body */
  font-family: "Arial", sans-serif; /* Définit la police de caractères pour le corps du document */
  line-height: 1.6; /* Définit l'interligne pour le texte */
  color: #333; /* Définit la couleur du texte */
  background-color: #f4f4f4; /* Définit la couleur de fond */
  padding-top: 100px;
} 

#portfolio {
  padding: 2rem 1rem;
}

#portfolio .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Bloc contenant chaque galerie */
.gallery {
  flex-direction: column;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.gallery h2 {
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

/* Iframe Facebook */
.gallery iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 9 / 12;
  border-radius: 0.75rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: none;
  max-width: 100%;
}

/* ========= MEDIA QUERIES ========= */
/* 
  Media queries pour le responsive design
  Utilisation de breakpoints Bootstrap 5
  https://getbootstrap.com/docs/5.0/layout/breakpoints/
*/
/* 
  📱 Très petits appareils - Moins de 576px
  📲 Petits appareils - ≥ 576px
  💼 Tablettes - ≥ 768px
  🖥️ Ordinateurs portables - ≥ 992px
  🖥️ Grands écrans - ≥ 1200px
  📺 Très grands écrans - ≥ 1400px
*/

/* 📱 Très petits appareils - Moins de 576px X-Small */
@media (max-width: 575.98px) {
}

/* 📲 Petits appareils - ≥ 576px Small */
@media (min-width: 576px) and (max-width: 767.98px) {
  .gallery h2 {
    font-size: 1.6rem;
  }

  .gallery iframe {
    width: 500px;
    height: 651px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 💼 Tablettes - ≥ 768px Medium */
@media (min-width: 768px) and (max-width: 991.98px) {
  .gallery h2 {
    font-size: 1.6rem;
  }

  .gallery iframe {
    width: 500px;
    height: 651px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* 🖥️ Ordinateurs portables - ≥ 992px Large */
@media (min-width: 992px) and (max-width: 1199.98px) {
  #portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Crée une grille responsive avec des colonnes de taille minimale 320px */
    gap: 2rem;
  }

  .gallery {
    align-items: center;
    padding: 2rem;
  }
}

/* 🖥️ Grands écrans - ≥ 1200px Extra large */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  #portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Crée une grille responsive avec des colonnes de taille minimale 320px */
    gap: 2rem;
  }

  .gallery {
    align-items: center;
    padding: 2rem;
    margin-bottom: 5px;
  }
}

/* 📺 Très grands écrans - ≥ 1400px Extra extra large	*/
@media (min-width: 1400px) {
  .gallery h2 {
    font-size: 2.5rem;
  }

  #portfolio .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Crée une grille responsive avec des colonnes de taille minimale 320px */
    gap: 2rem ; /* Définit l'espacement entre les colonnes et les lignes */
  }

  .gallery {
    align-items: center;
    padding: 2rem;
    margin-bottom: 5px;
  }
}
